<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layout.html" %}
    {% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>New User and Tweets</h1>

    <p>Please fill out the form below to add a new user to the database</p>

    <form action="/users/<screen_name>" method="POST">

        <label>Screen Name:</label>
        <input type="text" name="screen_name" placeholder="twitter_handle" value="twitter_handle">

        <button>Submit</button>
    </form>
{% endblock %}  
</body>
</html>